@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 100vh;
    background-size: cover;
}

.bg-card {
    background-color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 20px;
}

.heading {
    font-family: "Bree Serif";
    font-size: 25px;
    color: #5752ab;
}

.para {
    font-family: "Roboto";
    font-size: 14px;
    color: #323f4b;
    font-weight: bold;
}

.button1 {
    height: 36px;
    width: 130px;
    border-radius: 10px;
    background-color: white;
    border-color: #d7dfe9;
    color: #171f46;
    font-size: 12px;
    border-width: 1px;
    margin: 5px;
}

.button2 {
    height: 36px;
    width: 130px;
    border-radius: 10px;
    background-color: #5752ab;
    color: #ffffff;
    border-width: 0px;
    margin: 5px;
}
